{% extends 'base.html' %}

{% block title %}Home - My Website{% endblock %}

{% block content %}
<div class="content-card">
    <h1>Welcome! this is Ian Dave Apellanes Project </h1>
    <p>
        Hello! This is the home page of our Django website. We're excited to have you here.
    </p>
    <p>
        This is a simple yet elegant website built with Django, featuring a responsive navigation bar
        in the upper right corner. Use the navigation menu to explore different pages of our site.
    </p>
    <p>
        Whether you're looking to learn more about us, get in touch, or just explore, we're glad you're here!
    </p>
</div>
{% endblock %}
